

<nav class="navbar navbar-expand-lg bg-light fixed-top" style="border-bottom: 1px solid #e7e7e7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/search">Auctions App</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item border-start border-end">
          <a class="nav-link" href="/search">Search items</a>
        </li>

        <li  class="nav-item border-start border-end">
          <a class="nav-link" href="/create-new-auction">Create New Auction</a>
        </li>
      
        <li class="nav-item border-start border-end">
          <a class="nav-link" href="/my-auctions-and-sales">My Auctions & Sales </a>
        </li>


        
        <li class="nav-item border-start border-end">
          <a class="nav-link" href="/bids-and-purchases">My Bids & Purchases </a>
        </li>

        <li  class="nav-item border-start border-end">
          <a class="nav-link" href="/watchlist">Watchlist
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center"> 
        <a class="btn btn-outline-secondary" (click)="logout()" title="Logout"> 
          <i class="fas fa-sign-in-alt"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />



