<div class="container" style="padding-top: 100px;">

  <h3>My Purchases</h3>
  <p style="font-style: italic;">View the items you've won in auctions and rate them.</p>
  <hr>
  
  <div *ngIf="purchases && purchases.length > 0">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let purchase of purchases">
        <div class="card h-100">
          <img *ngIf="purchase.ImageURL" [src]="purchase.ImageURL" class="card-img-top" alt="{{ purchase.ItemName }}">
          <div class="card-body">
            <h5 class="card-title blue-on-hover" (click)="navigateToAuctionDetail(purchase)">{{ purchase.ItemName }}</h5>
            <p class="card-text"><strong>Starting Price:</strong> ${{ purchase.StartingPrice }}</p>
            <p class="card-text"><strong>Reserve Price:</strong> ${{ purchase.ReservePrice }}</p>
            <p class="card-text"><strong>Winning Price:</strong> ${{ purchase.WinnerPrice }}</p>
            <p class="card-text"><strong>End Date:</strong> {{ purchase.EndDate }}</p>
  
  
            <button class="btn btn-primary" (click)="getWinnerDetails(purchase.AuctionID)">
              See Details
            </button>
            <div *ngIf="winnerDetails[purchase.AuctionID]">
              <div *ngIf="winnerDetails[purchase.AuctionID].username && winnerDetails[purchase.AuctionID].email">
                <p class="card-text">
                  <strong>Your Winning Bid Amount:</strong> 
                    ${{ winnerDetails[purchase.AuctionID].winningBidAmount }}
                </p> 
                <div class="card-text">
                  <strong>Applicable discount:</strong> 
                  <span *ngIf="winnerDetails[purchase.AuctionID]?.discountApplied">
                    ${{ winnerDetails[purchase.AuctionID].discount }}
                  </span>
                  <span *ngIf="!winnerDetails[purchase.AuctionID]?.discountApplied">
                    No discount applied.
                  </span>
                </div>
                <div class="card-text">
                  <strong>Total you are paying:</strong> 
                  <div *ngIf="winnerDetails[purchase.AuctionID]?.discountApplied"> 
                      ${{ winnerDetails[purchase.AuctionID].winningBidAmount - winnerDetails[purchase.AuctionID].discount}}
                  </div>
                  <div *ngIf="!winnerDetails[purchase.AuctionID]?.discountApplied">
                    ${{ winnerDetails[purchase.AuctionID].winningBidAmount}}
                  </div>
                </div> 
              </div>
          </div>
  
            <!-- Rating Form -->
            <hr>
            <form (ngSubmit)="submitRating(purchase)">
              <label for="rating-{{ purchase.AuctionID }}">Rate this purchase:</label>
              <select id="rating-{{ purchase.AuctionID }}" [(ngModel)]="purchase.newRating" name="newRating" required>
                <option *ngFor="let value of [1, 2, 3, 4, 5]" [value]="value">{{ value }}</option>
              </select>
              <button type="submit" class="btn btn-primary mt-2">Submit Rating</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <p *ngIf="userIsBuyer && purchases && purchases.length === 0"> -->
  <p *ngIf=" purchases && purchases.length === 0">
      You haven't won any auctions yet.
  </p>
  
  <h3>My Bids</h3>
  <hr>
  
  <!-- <div *ngIf="userIsBuyer && bids && bids.length > 0"> -->
  <div *ngIf="bids && bids.length > 0">
      <ul>
      <li *ngFor="let bid of bids">
        <p><strong>Auction ID:</strong> {{ bid.AuctionID }}</p>
        <p><strong>Amount:</strong> ${{ bid.BidAmount }}</p>
        <p><strong>Time:</strong> {{ bid.BidTime }}</p>
      </li>
    </ul>
  </div>
  
  <!-- <p *ngIf="userIsBuyer && bids && bids.length === 0">You haven't placed any bids yet.</p> -->
  <p *ngIf=" bids && bids.length === 0">You haven't placed any bids yet.</p>
  
  <!-- <p *ngIf="!userIsBuyer"> -->
    <p >
      Your account has a Seller-only profile.
    <a routerLink="/change-profile">Update your profile</a> to Buyer-Seller to participate in auctions as a bidder.
  </p>
  
</div>

