<h4 class="text-center mb-4">Create New Auction</h4> 

<form [formGroup]="createAuctionForm" (ngSubmit)="onSubmit()" class="card p-4 shadow-sm"> 
  <div class="w-50">
    <div class="mb-3">
      <label for="ItemName" class="form-label">Auction Name:</label>
      <input type="text" id="ItemName" name="ItemName" class="form-control" formControlName="ItemName" required>
    </div>

    <div class="mb-3">
      <label for="ItemDescription" class="form-label">Description:</label>
      <textarea id="ItemDescription" name="ItemDescription" class="form-control" formControlName="ItemDescription" required></textarea>
    </div>

    <div class="mb-3">
      <label for="StartingPrice" class="form-label">Starting Price:</label>
      <input type="number" id="StartingPrice" name="StartingPrice" class="form-control" formControlName="StartingPrice" required>
    </div>

    <div class="mb-3">
      <label for="ReservePrice" class="form-label">Reserve Price:</label>
      <input type="number" id="ReservePrice" name="ReservePrice" class="form-control" formControlName="ReservePrice" required>
    </div>

    <div class="mb-3">
      <label for="WinnerPrice" class="form-label">Reserve Price:</label>
      <input type="number" id="WinnerPrice" name="WinnerPrice" class="form-control" formControlName="WinnerPrice" required>
    </div>

    <div class="mb-3">
      <label for="CategoryID" class="form-label">Category:</label>
      <select id="CategoryID" name="CategoryID" class="form-select" formControlName="CategoryID" required>
        <option value="" disabled selected>Select a category</option>
        <option value="1">Electronics</option>
        <option value="2">Fashion</option>
        <option value="3">Home & Garden</option>
        <option value="4">Collectibles</option>
        <option value="5">Toys & Hobbies</option>
        <option value="6">Sports & Outdoors</option>
        <option value="7">Automotive</option>
        <option value="8">Books</option>
      </select>
    </div>

    <label for="EndDate">End Date:</label>
    <input type="date" id="EndDate" name="EndDate" class="form-control" formControlName="EndDate" required>

    <div class="mb-3">
      <label for="ImageURL" class="form-label">Image URL:</label>
      <input type="text" id="ImageURL" name="ImageURL" class="form-control" placeholder="https://example.com/image.jpg"  formControlName="ImageURL" required>
    </div>

    <button type="submit" class="btn btn-primary" >Create Auction</button> 

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    createAuctionForm.invalid: {{createAuctionForm.invalid}}
  </div>
</form>