.blue-on-hover {
    color: inherit; /* Keeps the default color initially */
    text-decoration: none; /* Removes underline by default */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition effect */
}

.blue-on-hover:hover {
    color: blue; /* Changes the color to blue on hover */
    text-decoration: underline; /* Adds an underline on hover */
}

.left-col {
    background-color: #e3e5e8; /* Example color */
    height: 100vh; /* Use vh for full viewport height */

}
.right-col {
    /* background-color: #e6e6e6;  Example color */
    height: 100vh; /* Use vh for full viewport height */

}
.middle-col {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Use vh for full viewport height */

}


