<div class="container mt-5">
  <!-- <h1>Auction Detail</h1> -->

  <!-- {{
    data | json
  }}
   -->
  <!-- Auction Details Section -->
  <!-- <div class="row">
    <div class="col-md-6">
      <img [src]="data.ImageURL" class="img-fluid" alt="{{ data.ImageURL }}">
    </div>
    <div class="col-md-6">
      <h2>{{ data.ItemName }}</h2>
      <p><strong>Description:</strong> {{ data.ItemDescription }}</p>
      <p><strong>Starting Price:</strong> {{ data.StartingPrice }}</p>
      <p><strong>End Date:</strong> {{ data.EndDate }}</p>
      <p><strong>City:</strong> {{ data.City }}</p>
      <p><strong>State Province:</strong> {{ data.StateProvince }}</p>
      <div class="mt-4">
        <button class="btn btn-primary me-2" (click)="makeOffer()">Make an Offer</button>
        <button class="btn btn-secondary" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-6">
    <img [src]="data.ImageURL" class="img-fluid" alt="{{ data.ImageURL }}">
  </div>
  <div class="col-md-6">
    <h2>{{ data.ItemName }}</h2>
    <p><strong>Description:</strong> {{ data.ItemDescription }}</p>
    <p><strong>Starting Price:</strong> {{ data.StartingPrice }}</p>
    <p><strong>End Date:</strong> {{ data.EndDate }}</p>
    <p><strong>City:</strong> {{ data.City }}</p>
    <p><strong>State Province:</strong> {{ data.StateProvince }}</p>

    <form (submit)="makeOffer()"> 
      <div class="input-group mt-3">
        <input type="number" class="form-control" placeholder="Enter offer amount" [(ngModel)]="offerAmount" name="offerAmount"> 
        <button class="btn btn-primary" type="submit">Make Offer</button>
      </div>
    </form>

    <button class="btn btn-secondary mt-2" (click)="addToCart()">Add to Cart</button> 
  </div>
</div> -->

<div class="row">
  <div class="col-md-6">
    <img [src]="data.ImageURL" class="img-fluid" alt="{{ data.ImageURL }}">
  </div>
  <div class="col-md-6">
    <h2>{{ data.ItemName }}</h2>
    <p><strong>Description:</strong> {{ data.ItemDescription }}</p>
    <p><strong>Starting Price:</strong> {{ data.StartingPrice }}</p>
    <p><strong>End Date:</strong> {{ data.EndDate }}</p>
    <p><strong>City:</strong> {{ data.City }}</p>
    <p><strong>State Province:</strong> {{ data.StateProvince }}</p>

    <form (submit)="makeOffer()">
      <div class="input-group mt-3">
        <span class="input-group-text">£</span> 
        <input type="number" class="form-control" placeholder="Enter offer amount" 
               [(ngModel)]="offerAmount" name="offerAmount" [min]="data.StartingPrice" required>
        <button class="btn btn-primary" type="submit">Make Offer</button>
      </div>
    </form>

    <button class="btn btn-secondary mt-2" (click)="addToCart()">Add to Cart</button>
    <br>
    <button class="btn btn-outline-secondary">
      <i class="fa fa-heart"></i> 
    </button>
  </div>
</div>


<!-- Seller Rating Section -->
<!-- <div class="mt-4">
  <h5>Rate the Seller</h5>
  <div class="star-rating">
    <span class="fa fa-star" (click)="rateSeller(1)" (mouseover)="hoverRating(1)" (mouseout)="resetHover()"></span>
    <span class="fa fa-star" (click)="rateSeller(2)" (mouseover)="hoverRating(2)" (mouseout)="resetHover()"></span>
    <span class="fa fa-star" (click)="rateSeller(3)" (mouseover)="hoverRating(3)" (mouseout)="resetHover()"></span>
    <span class="fa fa-star" (click)="rateSeller(4)" (mouseover)="hoverRating(4)" (mouseout)="resetHover()"></span>
    <span class="fa fa-star" (click)="rateSeller(5)" (mouseover)="hoverRating(5)" (mouseout)="resetHover()"></span>
  </div>
  <div class="mt-2">
    <textarea [(ngModel)]="comment" placeholder="Leave a comment..." rows="3" class="form-control"></textarea>
    <button class="btn btn-primary mt-2" (click)="submitComment()">Submit</button>
  </div>
</div>  -->

<!-- Display Comments -->
<!-- <div class="mt-4">
  <h5>Comments</h5>
  <ul class="list-group">
    <li class="list-group-item" NgFor="let comment of comments">{{ comment }}</li>
  </ul>
</div> -->
